h1 {
    text-align: center;
    font-family: 'Saira Condensed', sans-serif;
}

table {
    margin: auto;
}

td{
    height: 400px;
    width: 200px;
    border: 5px solid white;
}

#one {
    background: #008996;
}

#two {
    background: #C50F3C;
}

#three {
    background: #799A05;
}

#four {
    background: #E97300;
}

#five {
    background: #ECAA00;
}